.header {
  display: flex;
  justify-content: flex-start;
  max-width: 1280px;
  width: 100%;
  margin: 45px auto 0;
  border-bottom: 1px solid #545454;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 26px auto 0;
  }
}
